In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score

import warnings
warnings.filterwarnings("ignore")

df = pd.read_csv('importCleaned.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   imports  34 non-null     object
 1   2000     34 non-null     float64
 2   2001     34 non-null     float64
 3   2002     34 non-null     float64
 4   2003     34 non-null     float64
 5   2004     34 non-null     float64
 6   2005     34 non-null     float64
 7   2006     34 non-null     float64
 8   2007     34 non-null     float64
 9   2008     34 non-null     float64
 10  2009     34 non-null     float64
 11  2010     34 non-null     float64
 12  2011     34 non-null     float64
 13  2012     34 non-null     float64
 14  2013     34 non-null     float64
 15  2014     34 non-null     float64
 16  2015     34 non-null     float64
 17  2016     34 non-null     float64
 18  2017     34 non-null     float64
 19  2018     34 non-null     float64
dtypes: float64(19), object(1)
memory usage: 5.4+ KB

In [2]:
df.describe()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
count,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000
mean,2577.676471,2616.147059,2684.294118,2747.000000,2818.970588,2834.617647,2987.352941,3078.117647,3141.029412,3073.911765,3210.205882,3288.617647,3328.617647,3409.647059,1288.676471,1308.470588,1358.176471,1378.055484,1356.119304
std,4694.852905,4452.344599,4562.339495,4716.287735,4898.082825,4826.150056,5105.277483,5258.548468,5329.922016,5200.654903,5418.707823,5662.374724,5730.431789,5812.805800,4899.841127,4939.391075,5133.073829,5230.205856,5131.318623
min,9.000000,9.000000,10.000000,11.000000,16.000000,16.000000,29.000000,16.000000,23.000000,14.000000,12.000000,17.000000,21.000000,22.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,244.250000,279.500000,272.250000,292.500000,302.500000,313.750000,338.750000,368.250000,393.750000,398.250000,380.500000,400.500000,397.750000,419.500000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,810.000000,883.500000,892.500000,986.000000,959.500000,962.000000,920.500000,1016.000000,968.500000,908.500000,1012.500000,1005.000000,1101.500000,1123.500000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2868.500000,2991.250000,2918.250000,3132.500000,3193.500000,3249.000000,3422.000000,3718.500000,3590.250000,3455.250000,3936.000000,3988.250000,3980.250000,4006.250000,0.000000,0.000000,0.000000,0.000000,0.000000
max,23767.000000,21415.000000,21639.000000,22760.000000,23184.000000,23042.000000,23709.000000,24219.000000,24277.000000,23578.000000,24378.000000,26093.000000,26056.000000,27016.000000,27565.000000,27708.000000,28838.000000,29487.886464,28918.207055

In [3]:
df['Index'] = 'Higher'
df.loc[df['2000']<= 2577	,'Index'] ="Lower" 
X = df.iloc[0:34]#features
y = df['Index']#target
print(y)

0      Lower
1     Higher
2      Lower
3      Lower
4      Lower
5      Lower
6      Lower
7      Lower
8      Lower
9     Higher
10    Higher
11     Lower
12     Lower
13     Lower
14    Higher
15     Lower
16     Lower
17     Lower
18     Lower
19    Higher
20     Lower
21     Lower
22     Lower
23     Lower
24     Lower
25    Higher
26     Lower
27    Higher
28    Higher
29     Lower
30     Lower
31     Lower
32     Lower
33    Higher
Name: Index, dtype: object

In [4]:
X=pd.get_dummies(X)

In [5]:
X
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=40)

In [6]:
model = RandomForestClassifier(n_estimators = 34)
model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=34)

In [7]:
predict = model.predict(X_test)

In [8]:
def Report(y_test, y_pred):
    print("Report : ",
    classification_report(y_test, y_pred))

In [9]:
print("Trained acc: ", accuracy_score(y_train, model.predict(X_train)))
print("Test accuracy:", accuracy_score(y_test, predict))
print("Confusion matrix train: ", "\n", confusion_matrix(y_train, model.predict(X_train)))
print("Confusion matrix test: ", "\n",confusion_matrix(y_test, predict))

Trained acc:  1.0
Test accuracy: 0.9090909090909091
Confusion matrix train:
 [[ 7  0]
 [ 0 16]]
Confusion matrix test:
 [[2 0]
 [1 8]]

In [10]:
modelrf = RandomForestClassifier(max_depth=2,random_state=40)
modelrf.fit(X_train, y_train)
print('Training Accuracy : ',
      accuracy_score(y_train,modelrf.predict(X_train)))
print('Test Accuracy : ',
      accuracy_score(y_test,modelrf.predict(X_test)))
print("Confusion matrix train: ", "\n", confusion_matrix(y_train, model.predict(X_train)))
print("Confusion matrix test: ", "\n",confusion_matrix(y_test, predict))

Training Accuracy :  1.0
Test Accuracy :  0.9090909090909091
Confusion matrix train:
 [[ 7  0]
 [ 0 16]]
Confusion matrix test:
 [[2 0]
 [1 8]]

In [11]:
print(Report(y_train, model.predict(X_train)))
print("---------------------------------------------------------")
print(Report(y_test, predict))

Report :                precision    recall  f1-score   support

      Higher       1.00      1.00      1.00         7
       Lower       1.00      1.00      1.00        16

    accuracy                           1.00        23
   macro avg       1.00      1.00      1.00        23
weighted avg       1.00      1.00      1.00        23

None
---------------------------------------------------------
Report :                precision    recall  f1-score   support

      Higher       0.67      1.00      0.80         2
       Lower       1.00      0.89      0.94         9

    accuracy                           0.91        11
   macro avg       0.83      0.94      0.87        11
weighted avg       0.94      0.91      0.92        11

None

In [12]:
y_train

15     Lower
14    Higher
25    Higher
4      Lower
8      Lower
20     Lower
17     Lower
0      Lower
9     Higher
22     Lower
10    Higher
19    Higher
32     Lower
31     Lower
12     Lower
1     Higher
18     Lower
29     Lower
24     Lower
5      Lower
7      Lower
27    Higher
6      Lower
Name: Index, dtype: object